{% load static managment_tags %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>{% block title %}Qistas{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100 {% if request.COOKIES.mode == 'dark' %}dark{% endif %}" dir="rtl" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
<!-- Navbar -->
<nav class="container navbar navbar-expand-lg navbar-light p-2 mt-4 rounded-pill"> 
    
    <a class="navbar-brand p-3" style="font-size: 1.5rem;" href="/">قِسطَاس</a>

    <!-- زر الجوال -->
    <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- القائمة -->
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item"><a class="nav-link" href="{% url 'main:home_view' %}">الرئيسية</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'main:services_view' %}">خدماتنا</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'main:lawyers_view' %}">المحامين</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'posts:posts_view' %}">المقالات</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'main:about_view' %}">من نحن</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'booking:contact_form' %}">تواصل معنا</a></li>
        </ul>

        <!-- الأزرار -->
        <div class="d-flex flex-column flex-lg-row align-items-center gap-2 mt-3 mt-lg-0 ms-3">

            <!-- Dark Mode -->
            <a href="{% url 'main:mode_view' 'toggle' %}?next={{request.path}}" class="theme-toggle-btn y-0">
                {% if request.COOKIES.mode == "dark" %}
                    <span class="material-symbols-outlined">light_mode</span>
                {% else %}
                    <span class="material-symbols-outlined">dark_mode</span>
                {% endif %}
            </a>

            {% if user.is_authenticated and user|is_manager %}
                <a href="{% url 'managment:dashboard' %}" class="btn btn-outline-success rounded-pill">الإدارة</a>

            {% elif user.is_authenticated and user|is_lawyer %}
                <a href="#" class="btn btn-outline-success rounded-pill">صفحتك</a>

            {% else %}
                <a href="{% url 'booking:book_session' %}" class="btn btn-outline-success rounded-pill">
                    احجز استشارتك
                </a>
            {% endif %}

            {% if user.is_authenticated %}
                <a href="{% url 'account:sign_out' %}" class="btn btn-outline-danger rounded-pill">
                    تسجيل خروج
                </a>
            {% else %}
                <a href="{% url 'account:sign_in' %}" class="btn btn-primary rounded-pill">
                    تسجيل دخول
                </a>
            {% endif %}

        </div>
    </div>
</nav>


<!-- Content -->
<main class="flex-grow-1">
    {% block content %}
    {% endblock %}
</main>


    <div class="container p-3"> 
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"> 
            <div class="col mb-3"> 
                <a class="navbar-brand p-3" href="#">Qistas</a> 
                <p class="text-body-secondary">© 2026</p> 
            </div> 
            <div class="col mb-3">

            </div> 
            <div class="col mb-3"> 
                <h5>Quick links</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Home</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Services</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Lawyers</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">ِArticles</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">About Us</a> 
                    </li> 
                </ul> 
            </div> 
            <div class="col mb-3"> 
                <h5>Our services</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Criminal cases</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Commercial issues</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Personal Status</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Legal advice</a> 
                    </li> 
                </ul> 
            </div> 
            <div class="col mb-3"> 
                <h5>Contact us</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Home</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Features</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a> 
                    </li> 
                    <li class="nav-item mb-2"> 
                        <a href="#" class="nav-link p-0 text-body-secondary">About</a> 
                    </li> 
                </ul> 
            </div> 
        </footer> 
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>